.cover-image {
  //width: 100%;
  height: 400px;
  background-image: url('https://www.incimages.com/uploaded_files/image/970x450/rey-seven-nm-mZ4Cs2I-unsplash_397351.jpg');

  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover
}